* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #efefef;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-footer,
.carrinho-footer,
.perfil-footer,
.detalhes-footer,
.admin-footer {
  margin-top: auto;
  flex-shrink: 0;
}

button{
  cursor: pointer;
  border: none;
}

a{
  text-decoration: none;
  color: inherit;
}
